<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectEntities" connectionString="metadata=res://*/DataModel.Model.csdl|res://*/DataModel.Model.ssdl|res://*/DataModel.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\Local;initial catalog=II_Project;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>